include includes/header
include includes/footer
.jumbotron
  h1.display-4 Welcome to Musical Strings Store!
  p.lead
    | A place where you find different categories of Musical Products & Shops.
  hr.my-4
  p
    | We have the cheapest deals for you in Musical Products.
  a.btn.btn-primary.btn-lg(href='/products', role='button') Browse Products
